* {
  margin: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.header {
  background: #FFFFFF;
  box-shadow: 0px -4px 21px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px; }

.title {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 58px;
  line-height: 35px;
  text-transform: uppercase;
  color: #343444;
  text-align: center; }

.logo-container {
  padding: 18.87px 0;
  margin-left: 56px;
  margin-right: 56px;
  display: flex;
  flex-direction: column; }

.menu-header {
  display: flex;
  flex-direction: row;
  padding: 40px 0; }
  .menu-header p {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #343444;
    margin-right: 35px; }

.button-header {
  padding: 30px 0; }
  .button-header button {
    width: 191px;
    height: 40px;
    background: #B4945C;
    border-radius: 12px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer; }

.active {
  text-decoration-line: underline; }

.footer .footer-container {
  width: 100%;
  height: 209px;
  background: linear-gradient(0deg, #343444, #343444), #343444;
  display: flex;
  flex-direction: row; }
  .footer .footer-container .logo-container {
    padding-top: 63.98px;
    padding-left: 54.35px;
    padding-right: 60px; }
.footer .copyright-container {
  width: 100%;
  height: 54px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #343444; }
  .footer .copyright-container p {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #343444;
    padding: 17px 0 16px 0; }

.menus {
  display: flex;
  flex-direction: row;
  padding-top: 46px; }
  .menus .menu-col-1 p,
  .menus .menu-col-2 p,
  .menus .menu-col-3 p {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-right: 96px; }

.business-container {
  width: 100%;
  height: 637px; }
  .business-container .image-container {
    width: 100%;
    height: 470px;
    z-index: 0;
    background-color: rgba(52, 52, 68, 0.47); }
    .business-container .image-container img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 470px; }
  .business-container .business-second-container {
    height: 167px;
    background: rgba(52, 52, 68, 0.81); }
    .business-container .business-second-container .steps {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 35px; }
    .business-container .business-second-container .first-step,
    .business-container .business-second-container .second-step,
    .business-container .business-second-container .third-step {
      display: flex;
      flex-direction: row; }
    .business-container .business-second-container .button-container {
      padding-top: 22px;
      text-align: center; }
      .business-container .business-second-container .button-container button {
        border-radius: 12px;
        background: #B4945C;
        border: none;
        width: 191px;
        height: 34px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15.9px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer; }

.text {
  position: absolute;
  padding: 150px 22px 22px 148px; }

.first-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #FFFFFF; }

.second-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 135.2%;
  text-align: center;
  color: #FFFFFF; }

.step-count {
  margin-right: 20px; }

.first-line-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 9px; }

.second-line-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF; }

.about-us {
  padding-top: 70px; }
  .about-us .image-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .about-us .description {
    width: 608px;
    padding-left: 23px; }
  .about-us .subtitle {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #343444;
    margin-bottom: 14px; }
  .about-us .about-us-text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: justify;
    color: #343444;
    padding-top: 14px; }

.our-services {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 5px; }
  .our-services .swiper-slide {
    height: 181px; }
  .our-services .services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .our-services .services .service-item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: 402px;
      height: 172px;
      background: #FFFFFF;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      margin-top: 3px; }
      .our-services .services .service-item .subtitle {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #343444;
        padding-bottom: 14px; }
      .our-services .services .service-item .description {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #343444; }
      .our-services .services .service-item .right-side {
        width: 272px;
        padding-left: 20px; }

.news {
  margin-bottom: 50px; }
  .news .swiper-pagination-bullet-active {
    background: #343444;
    width: 15px;
    height: 15px; }
  .news .swiper-pagination-bullet {
    width: 15px;
    height: 15px; }
  .news .swiper-pagination {
    position: absolute;
    bottom: -2.5px !important; }
  .news .swiper-container {
    height: 720px; }
  .news .news-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer; }
    .news .news-container .news-item {
      display: flex;
      flex-direction: row;
      padding: 20px;
      width: 1032px;
      background: #FFFFFF;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      margin-bottom: 20px;
      margin-top: 3px; }
      .news .news-container .news-item .subtitle {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #343444;
        padding-bottom: 12px; }
      .news .news-container .news-item .description {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: #343444; }
      .news .news-container .news-item .right-side {
        width: 696px;
        padding-left: 40px; }
        .news .news-container .news-item .right-side .button-container {
          padding-top: 25px; }
          .news .news-container .news-item .right-side .button-container button {
            background: #B4945C;
            border-radius: 12px;
            border: none;
            width: 191px;
            height: 34px;
            font-family: Roboto, serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            cursor: pointer; }

.right-arrow {
  padding-top: 16px;
  left: 250px;
  position: relative; }

.fix {
  position: fixed;
  z-index: 5; }

/*# sourceMappingURL=style.css.map */
